@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html{
  direction: ltr;
}

section{
  background: url(components/photo.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  }
section .container{
  width: 650px;
  background: #332A224e;
  padding:  30px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
  color: #fff;

}
section .top_sec{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d7d7d74e;
}
section .top_sec select{
  width: 250px;
  border-radius: 5px;
  outline: none;
  background: #a54f3a;
  padding: 8px 10px;
  color: #fff;
  font-size: 22px;

}
section .top_sec h3,section .top_sec .date h4{
  font-size: 22px;
  color: #fff;
}

section .prayer{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #c0583e75;
  margin-bottom: 25px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #c0583e75;
}

